# Link home buildings to census attributes

In [1]:
%load_ext autoreload
%autoreload 2
%cd D:\mobi-seg-net

D:\mobi-seg-net

In [3]:
import overturemaps
import geopandas as gpd
from shapely import wkb
import workers as workers
import sqlalchemy
import pandas as pd
import numpy as np

In [4]:
# Data location
user = workers.keys_manager['database']['user']
password = workers.keys_manager['database']['password']
port = workers.keys_manager['database']['port']
db_name = workers.keys_manager['database']['name']
engine = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name}?gssencmode=disable')

In [20]:
pop_folder = "dbs/gridded_population/"

## 1. Load individual home buildings

In [5]:
df_buildings = pd.read_sql("SELECT device_aid, b_id AS id FROM home_building;", engine)
b_id_list = df_buildings['id'].unique()
print("No. of buildings:", len(b_id_list))

No. of buildings: 86355

In [6]:
bbox = (11.0273686052, 55.3617373725, 23.9033785336, 69.1062472602)
# need feature type and bounding box as arguments
# columns=['id', 'source', 'geometry', "class", "subtype"]
table = overturemaps.record_batch_reader("building", bbox).read_all()
table = table.combine_chunks()
# convert to dataframe
df = table.to_pandas()
# DataFrame to GeoDataFrame, set crs
gdf = gpd.GeoDataFrame(
    df,
    geometry=df['geometry'].apply(wkb.loads),
    crs="EPSG:4326"
)
del df
gdf = gdf[['id', 'geometry']]
gdf = gdf.loc[gdf['id'].isin(b_id_list)]

In [7]:
gdf.iloc[42]['geometry']

## 2. Income association

In [40]:
income_path = pop_folder + "inkomsterShp/Tab11_Ruta_2023_region.shp"
gdf_i = gpd.read_file(income_path)
gdf_i.loc[:, 'Totalt_i'] = gdf_i.loc[:, 'Kvartil1'] + \
                           gdf_i.loc[:, 'Kvartil2'] + \
                           gdf_i.loc[:, 'Kvartil3'] + \
                           gdf_i.loc[:, 'Kvartil4']

In [41]:
gdf_i.head()

,Rutstorl,Ruta,Kvartil1,Kvartil2,Kvartil3,Kvartil4,Totalt,MedianInk,geometry,Totalt_i
0,1000,3840006565000,0,0,0,0,0,363383.0,"POLYGON ((384000.002 6565000.003, 384000.002 6...",0
1,250,4617507024000,0,0,0,0,0,194173.0,"POLYGON ((461750.002 7023999.995, 461750.002 7...",0
2,1000,3960006258000,0,0,3,3,6,290385.0,"POLYGON ((395999.998 6258000.002, 395999.998 6...",6
3,1000,6430006585000,0,0,0,0,0,127074.0,"POLYGON ((643000.001 6585000.002, 643000.001 6...",0
4,1000,4300006354000,0,0,3,0,3,363495.0,"POLYGON ((429999.997 6354000.002, 429999.997 6...",3

In [42]:
duplicated_grids = gdf_i.loc[gdf_i.duplicated(subset=['Ruta']), 'Ruta'].to_list()
print(len(duplicated_grids))

# Non-duplicated grids
gdf_income_1 = gdf_i.loc[~gdf_i.Ruta.isin(duplicated_grids), :]
# Duplicated grids
gdf_income_2 = gdf_i.loc[gdf_i.Ruta.isin(duplicated_grids), :].sort_values(by=['Ruta'])

3495

In [33]:
# Prepare a big grid data as a place holder
gdf_income_2_big = gdf_income_2.loc[gdf_income_2.Rutstorl == 1000, ['Ruta', 'Rutstorl', 'geometry']]

In [45]:
def merge_income_duplicated(data):
    Kvartil1 = data['Kvartil1'].sum()
    Kvartil2 = data['Kvartil2'].sum()
    Kvartil3 = data['Kvartil3'].sum()
    Kvartil4 = data['Kvartil4'].sum()
    Totalt_i = data['Totalt_i'].sum()
    Totalt = data['Totalt'].sum()
    MedianInk = sum(data['Totalt_i'] * data['MedianInk']) / data['Totalt_i'].sum()
    return pd.Series(dict(Kvartil1=Kvartil1,
                          Kvartil2=Kvartil2,
                          Kvartil3=Kvartil3,
                          Kvartil4=Kvartil4,
                          Totalt_i=Totalt_i,
                          Totalt=Totalt,
                          MedianInk=MedianInk))

In [46]:
gdf_income_2 = pd.merge(gdf_income_2_big,
                        gdf_income_2.groupby('Ruta').apply(merge_income_duplicated).reset_index(),
                        on='Ruta').dropna()

C:\Users\yuanlia\AppData\Local\Temp\ipykernel_13676\2258000877.py:8: RuntimeWarning: invalid value encountered in divide
  MedianInk = sum(data['Totalt_i'] * data['MedianInk']) / data['Totalt_i'].sum()
C:\Users\yuanlia\AppData\Local\Temp\ipykernel_13676\2078102947.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  gdf_income_2.groupby('Ruta').apply(merge_income_duplicated).reset_index(),

In [50]:
gdf_i = pd.concat([gdf_income_1, gdf_income_2])
gdf_i = gdf_i.loc[gdf_i['MedianInk'] > 0, :]

In [53]:
gdf_i.to_postgis("income", con=engine, schema='auxiliary_data', if_exists="replace", index=False)

### 2.1 Building to income information

In [9]:
gdf_i = gpd.read_postgis("SELECT * FROM auxiliary_data.income;", con=engine, geom_col='geometry')
gdf_i.head()

,Rutstorl,Ruta,Kvartil1,Kvartil2,Kvartil3,Kvartil4,Totalt,MedianInk,geometry,Totalt_i
0,1000,3840006565000,0.0,0.0,0.0,0.0,0.0,363383.0,"POLYGON ((384000.002 6565000.003, 384000.002 6...",0.0
1,250,4617507024000,0.0,0.0,0.0,0.0,0.0,194173.0,"POLYGON ((461750.002 7023999.995, 461750.002 7...",0.0
2,1000,3960006258000,0.0,0.0,3.0,3.0,6.0,290385.0,"POLYGON ((395999.998 6258000.002, 395999.998 6...",6.0
3,1000,4300006354000,0.0,0.0,3.0,0.0,3.0,363495.0,"POLYGON ((429999.997 6354000.002, 429999.997 6...",3.0
4,250,5987506848250,0.0,0.0,0.0,0.0,0.0,362105.0,"POLYGON ((598749.997 6848249.999, 598749.997 6...",0.0

In [11]:
gdf_bd_i = gpd.tools.overlay(gdf.to_crs(3006),
                             gdf_i[['Ruta', 'geometry']], how='intersection')
# gdf_bd_i = gdf_bd_i.dropna(how='any')
gdf_bd_i.head()

,id,Ruta,geometry
0,08b1f2335d365fff0200ec11b852c52d,3530006219000,"POLYGON ((353187.481 6219183.555, 353193.486 6..."
1,08b1f2334a4dcfff0200408d2429a6c9,3540006218250,"POLYGON ((354027.394 6218270.752, 354027.521 6..."
2,08b1f2334a462fff0200e59e79a4a376,3540006218500,"POLYGON ((354165.212 6218685.248, 354160.707 6..."
3,08b1f2334a559fff0200f3ab67e6f956,3540006218750,"POLYGON ((354124.691 6218756.368, 354116.347 6..."
4,08b1f2335db01fff02004f07aa5ed6fc,3525006219750,"POLYGON ((352738.418 6219805.881, 352742.031 6..."

In [17]:
gdf_bd_i.loc[:, 'area'] = gdf_bd_i.loc[:, 'geometry'].area    # m^2
df_bd_i = pd.merge(gdf_bd_i[['id', 'Ruta', 'area']],
                   gdf_i[['Rutstorl', 'Ruta', 'Kvartil1', 'Kvartil2', 'Kvartil3', 'Kvartil4']].\
                   rename(columns={'Rutstorl': 'grid_size',
                                   'Kvartil1': 'Q1',
                                   'Kvartil2': 'Q2',
                                   'Kvartil3': 'Q3',
                                   'Kvartil4': 'Q4'}),
                   on='Ruta', how='left')
df_bd_i.head()

,id,Ruta,area,grid_size,Q1,Q2,Q3,Q4
0,08b1f2335d365fff0200ec11b852c52d,3530006219000,255.912485,250,0.0,0.0,3.0,10.0
1,08b1f2334a4dcfff0200408d2429a6c9,3540006218250,112.349983,250,8.0,5.0,12.0,42.0
2,08b1f2334a462fff0200e59e79a4a376,3540006218500,291.557832,250,12.0,12.0,16.0,21.0
3,08b1f2334a559fff0200f3ab67e6f956,3540006218750,111.774916,250,3.0,3.0,7.0,33.0
4,08b1f2335db01fff02004f07aa5ed6fc,3525006219750,259.893713,250,0.0,0.0,0.0,4.0

In [18]:
def area_agg(data):
    area = data['area'].sum()
    Q1 = (data['Q1'] * data['area']).sum() / area
    Q2 = (data['Q2'] * data['area']).sum() / area
    Q3 = (data['Q3'] * data['area']).sum() / area
    Q4 = (data['Q4'] * data['area']).sum() / area
    return pd.Series(dict(Q1=np.ceil(Q1), Q2=np.ceil(Q2), Q3=np.ceil(Q3), Q4=np.ceil(Q4)))
df_bd_i = df_bd_i.groupby('id').apply(lambda x: area_agg(x))
df_bd_i.head()

C:\Users\yuanlia\AppData\Local\Temp\ipykernel_22892\857015426.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_bd_i = df_bd_i.groupby('id').apply(lambda x: area_agg(x))

                                   Q1   Q2   Q3   Q4
id
08b0810446c54fff0200104225c0e39d  0.0  4.0  0.0  3.0
08b0810446c68fff0200ca9ea900059a  0.0  4.0  0.0  3.0
08b0810446c6bfff0200c3df7625e626  0.0  4.0  0.0  3.0
08b0810446c76fff020052520ef1f36e  0.0  4.0  0.0  3.0
08b081045204efff02008043cc60c428  3.0  3.0  0.0  0.0

## 3. Birth background

In [24]:
birth_path = pop_folder + "befolkningShp/Tab4_Ruta_2023_region.shp"
gdf_b = gpd.read_file(birth_path)
gdf_b.head()

,Rutstorl,Ruta,Sverige,Norden_uto,EU_utom_No,Ovriga_var,Totalt,geometry
0,1000,5210006565000,3,0,0,0,3,"POLYGON ((520999.997 6565000.003, 520999.997 6..."
1,1000,4720006616000,3,0,0,0,3,"POLYGON ((471999.999 6616000.002, 471999.999 6..."
2,1000,4470006602000,3,0,0,0,3,"POLYGON ((447000.001 6602000.002, 447000.001 6..."
3,250,5090006547750,4,0,0,0,4,"POLYGON ((509000.001 6547750.004, 509000.001 6..."
4,250,3007506519500,4,0,0,0,4,"POLYGON ((300749.999 6519500.005, 300749.999 6..."

In [25]:
duplicated_grids = gdf_b.loc[gdf_b.duplicated(subset=['Ruta']), 'Ruta'].to_list()
# Non-duplicated grids
gdf_birth_1 = gdf_b.loc[~gdf_b.Ruta.isin(duplicated_grids), :]
# Duplicated grids
gdf_birth_2 = gdf_b.loc[gdf_b.Ruta.isin(duplicated_grids), :].sort_values(by=['Ruta'])
# Prepare a big grid data as a place holder
gdf_birth_2_big = gdf_birth_2.loc[gdf_birth_2.Rutstorl == 1000, ['Ruta', 'Rutstorl', 'geometry']]
def merge_birth_duplicated(data):
    return data[['Sverige', 'Norden_uto', 'EU_utom_No', 'Ovriga_var']].sum()
gdf_birth_2 = pd.merge(gdf_birth_2_big,
                        gdf_birth_2.groupby('Ruta').apply(merge_birth_duplicated).reset_index(),
                        on='Ruta').dropna()
gdf_b = pd.concat([gdf_birth_1, gdf_birth_2])
gdf_b.head()

C:\Users\yuanlia\AppData\Local\Temp\ipykernel_22892\1619600346.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  gdf_birth_2.groupby('Ruta').apply(merge_birth_duplicated).reset_index(),

,Rutstorl,Ruta,Sverige,Norden_uto,EU_utom_No,Ovriga_var,Totalt,geometry
0,1000,5210006565000,3,0,0,0,3.0,"POLYGON ((520999.997 6565000.003, 520999.997 6..."
1,1000,4720006616000,3,0,0,0,3.0,"POLYGON ((471999.999 6616000.002, 471999.999 6..."
2,1000,4470006602000,3,0,0,0,3.0,"POLYGON ((447000.001 6602000.002, 447000.001 6..."
3,250,5090006547750,4,0,0,0,4.0,"POLYGON ((509000.001 6547750.004, 509000.001 6..."
4,250,3007506519500,4,0,0,0,4.0,"POLYGON ((300749.999 6519500.005, 300749.999 6..."

In [26]:
gdf_b.to_postgis("birth_background", con=engine, schema='auxiliary_data', if_exists="replace", index=False)

### 3.1 Building to birth background information

In [27]:
gdf_bd_b = gpd.tools.overlay(gdf.to_crs(3006),
                             gdf_b[['Ruta', 'geometry']], how='intersection')
# gdf_bd_i = gdf_bd_i.dropna(how='any')
gdf_bd_b.head()

,id,Ruta,geometry
0,08b1f2335d365fff0200ec11b852c52d,3530006219000,"POLYGON ((353187.481 6219183.555, 353193.486 6..."
1,08b1f2334a4dcfff0200408d2429a6c9,3540006218250,"POLYGON ((354027.394 6218270.752, 354027.521 6..."
2,08b1f2334a462fff0200e59e79a4a376,3540006218500,"POLYGON ((354165.212 6218685.248, 354160.707 6..."
3,08b1f2334a559fff0200f3ab67e6f956,3540006218750,"POLYGON ((354124.691 6218756.368, 354116.347 6..."
4,08b1f2335db01fff02004f07aa5ed6fc,3525006219750,"POLYGON ((352738.418 6219805.881, 352742.031 6..."

In [29]:
gdf_b.columns

Index(['Rutstorl', 'Ruta', 'Sverige', 'Norden_uto', 'EU_utom_No', 'Ovriga_var',
       'Totalt', 'geometry'],
      dtype='object')

In [30]:
gdf_bd_b.loc[:, 'area'] = gdf_bd_b.loc[:, 'geometry'].area    # m^2
df_bd_b = pd.merge(gdf_bd_b[['id', 'Ruta', 'area']],
                   gdf_b[['Rutstorl', 'Ruta', 'Sverige', 'Norden_uto', 'EU_utom_No', 'Ovriga_var']].\
                   rename(columns={'Rutstorl': 'grid_size',
                                   'Sverige': 'sweden',
                                   'Norden_uto': 'nordic',
                                   'EU_utom_No': 'eu',
                                   'Ovriga_var': 'other'}),
                   on='Ruta', how='left')
df_bd_b.head()

,id,Ruta,area,grid_size,sweden,nordic,eu,other
0,08b1f2335d365fff0200ec11b852c52d,3530006219000,255.912485,250,26,0,3,3
1,08b1f2334a4dcfff0200408d2429a6c9,3540006218250,112.349983,250,155,5,3,3
2,08b1f2334a462fff0200e59e79a4a376,3540006218500,291.557832,250,122,0,5,10
3,08b1f2334a559fff0200f3ab67e6f956,3540006218750,111.774916,250,133,8,5,15
4,08b1f2335db01fff02004f07aa5ed6fc,3525006219750,259.893713,250,12,0,0,0

In [31]:
def area_agg_birth(data):
    area = data['area'].sum()
    sweden = (data['sweden'] * data['area']).sum() / area
    nordic = (data['nordic'] * data['area']).sum() / area
    eu = (data['eu'] * data['area']).sum() / area
    other = (data['other'] * data['area']).sum() / area
    return pd.Series(dict(sweden=np.ceil(sweden), nordic=np.ceil(nordic), eu=np.ceil(eu), other=np.ceil(other)))
df_bd_b = df_bd_b.groupby('id').apply(lambda x: area_agg_birth(x))
df_bd_b.head()

C:\Users\yuanlia\AppData\Local\Temp\ipykernel_22892\270190903.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_bd_b = df_bd_b.groupby('id').apply(lambda x: area_agg_birth(x))

                                  sweden  nordic   eu  other
id
08b0810446c54fff0200104225c0e39d    13.0     0.0  3.0    0.0
08b0810446c68fff0200ca9ea900059a    13.0     0.0  3.0    0.0
08b0810446c6bfff0200c3df7625e626    13.0     0.0  3.0    0.0
08b0810446c76fff020052520ef1f36e    14.0     0.0  3.0    0.0
08b081045204efff02008043cc60c428     7.0     0.0  0.0    3.0

## 4. Combining buildings, income, and birth background

In [39]:
df_bd = pd.merge(df_bd_b, df_bd_i, on='id', how='outer')
df_bd.dropna(inplace=True)
df_bd.reset_index(inplace=True)
df_bd.head()

,id,sweden,nordic,eu,other,Q1,Q2,Q3,Q4
0,08b0810446c54fff0200104225c0e39d,13.0,0.0,3.0,0.0,0.0,4.0,0.0,3.0
1,08b0810446c68fff0200ca9ea900059a,13.0,0.0,3.0,0.0,0.0,4.0,0.0,3.0
2,08b0810446c6bfff0200c3df7625e626,13.0,0.0,3.0,0.0,0.0,4.0,0.0,3.0
3,08b0810446c76fff020052520ef1f36e,14.0,0.0,3.0,0.0,0.0,4.0,0.0,3.0
4,08b081045204efff02008043cc60c428,7.0,0.0,0.0,3.0,3.0,3.0,0.0,0.0

In [40]:
df_bd.rename(columns={'id': 'b_id'}).\
    to_sql("building_data", con=engine, schema='public', if_exists="replace", index=False)

76

In [41]:
len(df_bd)

86076