# Data quality check
Obtain a study area (possibly city-level) and a study period (possibly ~20days) for which more than 200 (?) users have a completeness of 95% (but we could also have a higher tolerance).
Completeness is assessed at hour resolution.

In [1]:
%load_ext autoreload
%autoreload 2
%cd D:\mobi-seg-net

D:\mobi-seg-net

In [3]:
import pandas as pd
import numpy as np
import os
os.environ['JAVA_HOME'] = "C:/Java/jdk-1.8"
from tqdm import tqdm
from pyspark.sql import SparkSession
import sys
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark import SparkConf
import sqlalchemy
from lib import workers as workers
import matplotlib.pyplot as plt

In [4]:
# Data location
user = workers.keys_manager['database']['user']
password = workers.keys_manager['database']['password']
port = workers.keys_manager['database']['port']
db_name = workers.keys_manager['database']['name']
engine = sqlalchemy.create_engine(f'postgresql://{user}:{password}@localhost:{port}/{db_name}?gssencmode=disable')

In [5]:
# Set up pyspark
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
# Create new context
spark_conf = SparkConf().setMaster("local[18]").setAppName("MobiSeg")
spark_conf.set("spark.executor.heartbeatInterval","3600s")
spark_conf.set("spark.network.timeout","7200s")
spark_conf.set("spark.sql.files.ignoreCorruptFiles","true")
spark_conf.set("spark.driver.memory", "56g")
spark_conf.set("spark.driver.maxResultSize", "0")
spark_conf.set("spark.executor.memory","8g")
spark_conf.set("spark.memory.fraction", "0.6")
spark_conf.set("spark.sql.session.timeZone", "UTC")
spark = SparkSession.builder.config(conf=spark_conf).getOrCreate()
java_version = spark._jvm.System.getProperty("java.version")
print(f"Java version used by PySpark: {java_version}")
print('Web UI:', spark.sparkContext.uiWebUrl)

Java version used by PySpark: 1.8.0_401
Web UI: http://C19YUEI.net.chalmers.se:4040

## 1. Get Stockholm residents

In [6]:
def within_box(lat, lng):
    if (lat >= workers.stockholm_box[1]) & (lat <= workers.stockholm_box[3]):
        if (lng >= workers.stockholm_box[0]) & (lng <= workers.stockholm_box[2]):
            return 1
    return 0

In [8]:
df_h = pd.read_sql_query(sql="""SELECT device_aid, latitude, longitude FROM home;""", con=engine)
print('Geo filtering.')
tqdm.pandas()
df_h.loc[:, 'Stockholm'] = df_h.progress_apply(lambda row: within_box(row['latitude'], row['longitude']), axis=1)
print(f"Share of Stockholm area residents: {len(df_h[df_h['Stockholm']==1]) / (len(df_h)) * 100}%")

Geo filtering.

100%|██████████| 66545/66545 [00:00<00:00, 129717.83it/s]

Share of Stockholm area residents: 20.809978210233677%

In [9]:
devices = df_h.loc[df_h['Stockholm'] == 1, 'device_aid'].unique()
print(f"Number of devices found: {len(devices)}")

Number of devices found: 13848

## 2. Focus on devices with more than 20 continuous dates

In [10]:
df_s = pd.read_parquet('dbs/stops_p/stops_p_0.parquet')
df_s = df_s.loc[df_s.device_aid.isin(devices)]
df_s.head()

,device_aid,loc,latitude,longitude,size,batch,dur,localtime,l_localtime,date,home,h_s,year,weekday,week,seq
3231045,00021c1c-fe37-4855-93f5-aba1b4b9ff56,1,59.377582,18.148197,11,0,481.316667,2024-03-04 02:17:19+01:00,2024-03-04 10:18:38+01:00,2024-03-04,1.0,2,2024,0,10,1
968674,00021c1c-fe37-4855-93f5-aba1b4b9ff56,1,59.377582,18.148197,3,0,124.000000,2024-03-05 11:10:50+01:00,2024-03-05 13:14:50+01:00,2024-03-05,1.0,11,2024,1,10,2
969975,00021c1c-fe37-4855-93f5-aba1b4b9ff56,2,59.377128,18.147526,3,0,61.950000,2024-03-05 13:35:27+01:00,2024-03-05 14:37:24+01:00,2024-03-05,0.0,13,2024,1,10,3
5820178,00021c1c-fe37-4855-93f5-aba1b4b9ff56,1,59.377582,18.148197,2,0,20.616667,2024-03-05 15:17:45+01:00,2024-03-05 15:38:22+01:00,2024-03-05,1.0,15,2024,1,10,4
2261940,00021c1c-fe37-4855-93f5-aba1b4b9ff56,1,59.377582,18.148197,12,0,613.716667,2024-03-05 16:32:29+01:00,2024-03-06 02:46:12+01:00,2024-03-05,1.0,16,2024,1,10,5

In [ ]:
# Convert 'date' column to datetime
df_s['date'] = pd.to_datetime(df_s['date'])

# Sort by 'device_aid' and 'date'
df_s = df_s.sort_values(by=['device_aid', 'date'])

# Function to check for continuous dates
def check_continuous_dates(group, days=20):
    # Calculate the difference between consecutive dates
    date_diff = group['date'].diff().dt.days
    # Check for a sequence of 1s (continuous days) of length >= days
    return (date_diff == 1).rolling(window=days).sum().max() >= days

In [18]:
# Group by 'device_aid' and apply the function
result = df_s.groupby('device_aid').apply(check_continuous_dates, days=15, include_groups=False)

# Filter devices with 20 continuous days
devices_with_20_days = result[result].index.tolist()

print("Devices with 20 continuous days of records:", devices_with_20_days)

Devices with 20 continuous days of records: ['6280da04-6e5e-49cd-a6d3-c69968e8dafe']